# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# Logs and temporary files
*.log
*.tmp
*.sqlite3
*.db

# Cache directories
.cache/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db

# Output files
output/
*.csv
*.json
